#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.animated {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    opacity: 0; /* 初始透明度为0 */
    transform: translateY(50px); /* 初始位置从下方50px开始 */
    animation: slide-up 5s ease-out forwards; /* 动画持续1秒，使用ease-out曲线，动画结束后保持最后一帧的状态 */
}

@keyframes slide-up {
    0% {
        opacity: 0; /* 初始透明度为0 */
        transform: translateY(50px); /* 初始位置从下方50px开始 */
    }
    100% {
        opacity: 1; /* 最终透明度为1 */
        transform: translateY(0); /* 回到正常位置 */
    }
}